@media (max-width: 320px) {
	.flexslider .slider-title {position: relative;}
}
.chang-image {
	position: absolute;
	bottom: 2%;
	right: 2%;
}
@media (max-width: 765px) {
	.chang-image{bottom: 30%;}
}

.image-logo {
	display: block;
	overflow: hidden;
	margin: 0 auto;
}
.image-logo a img{
	width: 100%;
	height: 385px;
}